<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Balance</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="balance in balances">
            <td>{{balance.name}}</td>
            <td>{{balance.balance}}</td>
        </tr>
    </tbody>
</table>