<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Paid by</th>
            <th>Total</th>
            <th>For</th>
            <th>Amount</th>
            <th>Purpose</th>
            <th>Time (HKT)</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="payment in payments">
                <td ng-if="payment.borrowerIndex == '0'" rowspan="{{payment.totalBorrowers}}">{{payment.paidBy}}</td>
                <td ng-if="payment.borrowerIndex == '0'" rowspan="{{payment.totalBorrowers}}">{{payment.total | currency}}</td>
                <td>{{payment.for}}</td>
                <td>{{payment.amount | currency}}</td>
                <td ng-if="payment.borrowerIndex == '0'" rowspan="{{payment.totalBorrowers}}">{{payment.purpose}}</td>
                <td ng-if="payment.borrowerIndex == '0'" rowspan="{{payment.totalBorrowers}}">{{payment.timestamp}}</td>
            </tr>
        </tbody>
    </table>
</div>